@inherits DeckBase

<div class="deck" ondragover="event.preventDefault();" @ondrop="@this.HandleDeckDrop">

    @foreach (var card in this.cards)
    {
        <Card CardModel="card" Parent="@this" Draggable="@this.PickingCardsValidator.Validate(this.cards, card)" />
    }
</div>

@code {
     public async Task HandleDeckDrop() {
        Console.WriteLine($"HandleDrop called from derived component no {this.DeckNumber}");

        if (this.cards.Any())
        {
            return;
        }

        Console.WriteLine($"Derived component no {this.DeckNumber}: zero cards");
        await base.HandleDrop();
    }
}