@inherits DeckBase

    <div class="deck" ondragover="event.preventDefault();" @ondrop="@this.HandleDrop">
        @if (this.cards.Any())
        {
            <Card CardModel="@this.cards.OrderBy(c => c.PositionInDeck).Last()" Parent="@this" 
                  Draggable="@this.PickingCardsValidator.Validate(this.cards, this.cards.OrderBy(c => c.PositionInDeck).Last())" />
        }
    </div>

@code {

}